@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 95%;
    --foreground: 220 9% 26%;

    --card: 220 13% 95%;
    --card-foreground: 220 9% 26%;

    --popover: 220 13% 100%;
    --popover-foreground: 220 9% 26%;

    --primary: 231 48% 36%;
    --primary-foreground: 210 40% 98%;

    --secondary: 220 14% 91%;
    --secondary-foreground: 220 9% 26%;

    --muted: 220 14% 91%;
    --muted-foreground: 220 9% 55%;

    --accent: 190 81% 60%;
    --accent-foreground: 231 48% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 231 48% 36%;

    --radius: 0.5rem;

    --sidebar-background: 231 30% 22%;
    --sidebar-foreground: 220 13% 85%;
    --sidebar-primary: 190 81% 60%;
    --sidebar-primary-foreground: 231 48% 10%;
    --sidebar-accent: 231 22% 28%;
    --sidebar-accent-foreground: 220 13% 95%;
    --sidebar-border: 231 22% 28%;
    --sidebar-ring: 190 81% 70%;
  }
  .dark {
    --background: 231 22% 14%;
    --foreground: 220 13% 95%;

    --card: 231 22% 14%;
    --card-foreground: 220 13% 95%;
    
    --popover: 231 22% 10%;
    --popover-foreground: 220 13% 95%;
    
    --primary: 220 13% 95%;
    --primary-foreground: 231 48% 36%;
    
    --secondary: 231 22% 20%;
    --secondary-foreground: 220 13% 95%;
    
    --muted: 231 22% 20%;
    --muted-foreground: 220 9% 55%;
    
    --accent: 190 81% 60%;
    --accent-foreground: 231 48% 10%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 231 22% 25%;
    --input: 231 22% 25%;
    --ring: 190 81% 60%;
    
    --sidebar-background: 231 22% 10%;
    --sidebar-foreground: 220 13% 85%;
    --sidebar-primary: 190 81% 60%;
    --sidebar-primary-foreground: 231 48% 10%;
    --sidebar-accent: 231 22% 16%;
    --sidebar-accent-foreground: 220 13% 95%;
    --sidebar-border: 231 22% 16%;
    --sidebar-ring: 190 81% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
